<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="pluginmanager.category"
            name="Plugin Management">
      </category>
      <view
            id="pluginmanager.ui.PluginManagerView"
            name="Dynamic Plugin Manager"
            icon="icons/plugin_16.png"
            category="pluginmanager.category"
            class="pluginmanager.ui.PluginManagerView">
      </view>
   </extension>
</plugin>